<%= render 'shared/errors', obj: @comment %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @comment, html: { multipart: true } do |f| %>
      <%= f.label :Comment %>
      <%= f.text_area :comment %><br/>

      <%= f.submit('Post Comment ',  class: "btn btn-success")  %>
    <% end %>
  </div>
</div>
