<%= render 'shared/errors', obj: @chef %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @chef do |f| %>
      <%= f.label :ChefName %>
      <%= f.text_field :chefname %><br/>

      <%= f.label :Email %>
      <%= f.email_field :email %><br/>

      <%= f.label :Password %>
      <%= f.password_field :password %><br/>

      <%= f.submit(@chef.new_record? ? 'Register Your Account' : 'Edit Profile', class: "btn btn-success")  %>
    <% end %>
  </div>
</div>
