<%= render 'shared/page_title', title: "All Chefs" %>

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li class="active">
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<%= will_paginate %>
<% @chefs.each do |chef| %>
  <div class="row">
      <div class="col-md-2 ">
        <section class="chef_info center">
          <%= link_to gravatar_for(chef, size: 150), chef_path(chef) %>
          <h5>Chef Name: <%= chef.chefname %></h5>
        </section>
      </div>


    <div class="col-lg-6 well">
      <h4>Name: <%= chef.chefname %></h4>
      <p>Email:<%=chef.email %></p>
      <p>
        <span class="quiet"><small>Profile Created: <%=time_ago_in_words(chef.created_at) %> ago,</small></span>
        <span class="quiet"><small>Profile Updated <%=time_ago_in_words(chef.updated_at) %> ago</small></span>
      </p>
      <div class="">

      </div>

    </div>
  </div>
  <hr/>
<% end %>
<%= will_paginate %>
