<%= render 'shared/page_title', title: "Chef Name -: " + @chef.chefname %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 200 %>
    <hr/>
  </div>
</div>


<div class="col-md-4 col-md-offset-4 center">
    <h3><em> Recipes of <%= @chef.chefname %>: </em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>

<div class="row">
<% @recipes. each do |recipe| %>
  <div class="row">
    <div class="col-lg-6 well col-lg-offset-3">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>
        <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %> ago,</small></span>
        <span class="quiet"><small>Updated <%= time_ago_in_words(recipe.updated_at)%> ago</small></span>
      </p>

      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          &nbsp
          <%=  recipe.thumbs_up_total %>
        <% end %>
        &nbsp&nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp
          <%= recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
</div>


<% end %>
