<%= render 'shared/page_title', title: 'Log In' %>

<div class="row">
  <div class="well col-md-6 col-md-offset-3">
    <%= form_tag '/login' do %>
      <%= label_tag :Email %>
      <%= text_field_tag :email %>

      <%= label_tag :Password %>
      <%= password_field_tag :password %>

      <%= submit_tag 'Login', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
<div class>
  <%= link_to 'Not Yet Registered?', register_path, class: 'btn btn-danger' %>
</div>
