<%= render 'shared/errors', obj: @recipe %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @recipe, html: { multipart: true } do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :name %><br/>

      <%= f.label :Summary %>
      <%= f.text_field :summary %><br/>

      <%= f.label :Description %>
      <%= f.text_area :description, rows: 10 %><br/>

      <strong>Styles:</strong>
      <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
      <%= cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text } %>
      <% end %>
      <br><br>

      <strong>Ingedients:</strong>
      <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |ingredient| %>
      <%= ingredient.label(class: "checkbox-inline") {ingredient.check_box(class: "checkbox") + ingredient.text } %>
      <% end %>
      <br>
      <br>

      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
      </span>

      <%= f.submit(@recipe.new_record? ? 'Create Recipe' : 'Update Recipe', class: "btn btn-success")  %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#recipe_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB, Please choose a smaller file');
    }
  });
</script>
