<%= render 'shared/page_title', title: "All Recipes" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<%= will_paginate %>
<% @recipes.each do |recipe| %>
  <div class="row">

    <div class="col-md-2">
      <section class="chef_info center">
        <%= link_to gravatar_for(recipe.chef, size: 100), chef_path(recipe.chef) %>
        <h5>Chef name: <%= recipe.chef.chefname %></h5>
      </section>
    </div>

    <div class="col-lg-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>

      <% if recipe.styles.any? %>
        <p>Recipe Style: <%= render recipe.styles %></p>
      <% end %>

      <% if recipe.ingredients.any? %>
        <p>Recipe Ingredients: <%= render recipe.ingredients %></p>
      <% end %>
      <p>
        <span class="quiet"><small>Created: <%= time_ago_in_words(recipe.created_at) %> ago,</small></span>
        <span class="quiet"><small>Updated <%= time_ago_in_words(recipe.updated_at)%> ago</small></span>
      </p>

      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          &nbsp
          <%=  recipe.thumbs_up_total %>
        <% end %>
        &nbsp&nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp
          <%= recipe.thumbs_down_total %>
        <% end %>

        &nbsp&nbsp
        <% if recipe.comments.any? %>
        <%= link_to "Comments", recipe_path(recipe) %> &nbsp
        <%= link_to recipe.comments.size, recipe_path(recipe) %>
        <%#= recipe.comments.size %> &nbsp
        <% else %>
        <%= link_to "Post Comment", new_comment_path(recipe) %>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
        <%= image_tag(recipe.picture.url, size: "250x150", class: "gravatar_for") if recipe.picture? %>
    </div>
  </div>
  <hr/>

<% end %>
<%= will_paginate %>
