<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
       <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-md-8">
    <% if logged_in? && (@recipe.chef == current_user || current_user.admin?) %>
      <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
    <% end %>
    <% if logged_in? && current_user.admin? %>
      <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
        <%= image_tag(@recipe.picture.url, class:"gravatar_for") if @recipe.picture? %>
    </div>
    <div class="well">
      <% if @recipe.styles.any? %>
        <p>Recipe Style: <%= render @recipe.styles %></p>
      <% end %>

      <% if @recipe.ingredients.any? %>
        <p>Recipe Ingredients: <%= render @recipe.ingredients %></p>
      <% end %>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          &nbsp
          <%=  @recipe.thumbs_up_total %>
        <% end %>
        &nbsp&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp
          <%= @recipe.thumbs_down_total %>
        <% end %>

        &nbsp &nbsp
        <%= link_to "Post Comment", new_comment_path(@recipe) %>
      </div>
  </div>
  <div class="well">
    <p>
      <% if @recipe.comments.any? %>
        <p>
         <h1>Listing Comments</h1>
         <hr/>
       </p>
       <p><% @recipe.comments.each do |comment| %></p>
       <p>
         <%= comment.comment %>
         <p>
           <span class="quiet"><small> By <%= link_to comment.chef.chefname, chefs_path %></small></span>
         </p>
         <hr/>
         <% end %>
         <% end %>
       </p>
    </p>
  </div>
  </div>
</div>

<h5><%= link_to "Return to Recipes", recipes_path, class: "btn btn-warning btn-small" %></h5>
