<%= render 'shared/page_title', title: "Create a new Ingredient" %>

<%= render 'shared/errors', obj: @ingredient %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @ingredient do |f| %>
      <%= f.label :Name %>
      <%= f.text_field :name %><br/>

      <%= f.submit 'Create Ingredient',class: "btn btn-success"  %>
    <% end %>
  </div>
</div>
